/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 300px;
    height: 300px;
}

.circle {
    stroke-dashoffset: 400px;
}

.text {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

