body {
    margin: 0;
    padding: 0;
    background: #5f72b3;
}

.header {
    background: url('./header_bg.jpg') no-repeat;
    height: 700px;
    background-size: cover;
}

.content {
    padding: 300px 0;
    background: #fff;
    position: relative;
}

.wave {
    width: 100%;
    overflow: hidden;
    height: 218px;
    position: absolute;
    top: -218px;
}

.wave__one {
    background: url('./wave_top.png') repeat-x;
    width: 7000px;
    height: 218px;
    position: absolute;
    top: 0;
    animation: waves 15s infinite linear;
    -webkit-animation: waves 15s infinite linear;
}

.wave__two {
    background: url('./wave_top_opacity.png') repeat-x;
    width: 7000px;
    height: 218px;
    position: absolute;
    top: 0;
    animation: waves 10s infinite linear;
    -webkit-animation: waves 10s infinite linear;
}

@keyframes waves {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1938px;
    }
}