* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.text {
    display: flex;
    color: #fff;
    font-size: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
    cursor: pointer;
}

.text:hover span {
    animation: smoke 2s linear forwards;
    -webkit-animation: smoke 2s linear forwards;
}

@keyframes smoke {
    100% {
        opacity: 0;
        filter: blur(40px);
        -webkit-filter: blur(40px);
        transform: rotate(25deg) translateY(-200px);
        -webkit-transform: rotate(25deg) translateY(-200px);
        -moz-transform: rotate(25deg) translateY(-200px);
        -ms-transform: rotate(25deg) translateY(-200px);
        -o-transform: rotate(25deg) translateY(-200px);
}
}

.text span:nth-child(1) {
    animation-delay: 2s;
}

.text span:nth-child(2) {
    animation-delay: 1.6s;
}

.text span:nth-child(3) {
    animation-delay: 1.4s;
}

.text span:nth-child(4) {
    animation-delay: 1.2s;
}

.text span:nth-child(5) {
    animation-delay: 1.0s;
}

.text span:nth-child(6) {
    animation-delay: .8s;
}