* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: rgb(105, 100, 100);
}

.create__acuant {
    margin: auto;
    background: cadetblue;
    padding: 20px;
    min-width: 400px;
}

h2 {
    text-align: center;
    color: cornsilk;
    font-size: 25px;
}

fieldset {
    padding: 10px;
}

legend {
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input {
    width: 90%;
    margin: 10px auto;
}

input[type="text"], input[type="email"], input[type="password"] {
    height: 26px;
    padding-left: 10px;
    outline: none;
    line-height: 28px;
    font-size: 18px;
    color: green;
}

input[type="submit"], input[type="reset"] {
    height: 30px;
    width: 60%;
    font-size: 20px;
    cursor: pointer;
    background: darkblue;
    color: wheat;
    border: 2px solid white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
}

input[type="reset"] {
    background: red;
}


.error {
    width: 300px;
    height: 50px;
    background: rgb(255, 94, 1);
    text-align: center;
    color: cornsilk;
    font-size: 14px;
    text-transform: uppercase;
    margin: auto;
    margin-top: 20px;
    display: none;
}

.saccess {
    width: 300px;
    height: 50px;
    background: rgb(0, 140, 255);
    text-align: center;
    color: cornsilk;
    font-size: 10px;
    text-transform: uppercase;
    margin: auto;
    margin-top: 20px;
    display: none;
}