* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: #0277bd;
}

.form {
    background: #fff;
    padding: 20px 40px 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    width: 100%;
    max-width: 500px;
}

h3 {
    text-align: center;
    color: #0277bd;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 25px;
}

.field__item {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    position: relative;
    border: 1px solid #0277bd;
    display: block;
}

.field__item input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
    position: absolute;
    bottom: 0;
}

.field__item span {
    color: #0277bd;
    position: absolute;
    top: 17px;
    left: 20px;
    font-weight: 500;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    cursor: text;
}

.field__item input:focus + span,
.field__item input:valid + span {
    top: -8px;
    left: 10px;
    background: #fff;
    font-size: 12px;
    padding: 0 7px;
}

.line {
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    background: #0277bd;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.field__item input:focus ~ .line,
.field__item input:valid ~ .line {
    width: calc(100%);
}

.btn {
    background: #0277bd;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    padding: 13px 50px;
    display: block;
    margin: 0 auto;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    border: 2px;
    box-shadow:  0 5px 0 #0167a1;
}

.btn:hover {
    transform: translateY(3px);
    box-shadow:  0 2px 0 #025483;
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
}