/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/

body {
  background: rgb(245, 241, 241);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}

.progress-ring__circle {
  transform-origin: center;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transition: stroke-dashoffset 2s;
  -webkit-transition: stroke-dashoffset 2s;
  -moz-transition: stroke-dashoffset 2s;
  -ms-transition: stroke-dashoffset 2s;
  -o-transition: stroke-dashoffset 2s;
}
