* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url('./Masih_Dajjal.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.box {
    position: absolute;
    background: url('./Masih_Dajjal.jpg');
    background-size: cover;
    background-attachment: fixed;
}