* {
  margin: 0;
  padding: 0;
  background: #ccc;
}

.wrap {
    width: 60%;
    background: #ccc;
    margin: 40px auto;
    text-align: center;
}

h1 {
    margin-bottom: 50px;
}

hr {
    background: red;
    height: 3px;
    margin: 20px auto;
    width: 100%;
}