#body{
  width:100%;
  padding: 20px 20px 100px 20px;
  background-color: #eaeaea;
}
.tab-container{
  background-color: #125688;
  border-radius: 3px;
  overflow: hidden;
}
.tab-title{
  font-family: sans-serif;
  color: #fff;
  margin: 10px;
  font-weight: normal;
  font-size: 18px;
}
.tab-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: sans-serif;
}
.tab-wrapper .tab-item,
.tab-wrapper input{
  display: none;}

.tab-wrapper .tab-item{
    background-color: #fff;
    width: calc(100% - 40px);
    max-width: 100%;
    padding: 20px;
    order: 1;
  }
.tab-wrapper label{
    height: 35px;
    line-height: 35px;
    min-width: 50px;
    padding: 0px 20px;
    text-align: center;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}
/*
.no-select{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
*/
.tab-wrapper input:checked + label{
    border-bottom: 3px solid #caeafb;
}
.tab-wrapper input:checked + label + .tab-item{display: block;}