/* General Styles */

 * {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    -o-font-smoothing:antialiased;
    /* font-smoothing:antialiased; - сглаживание шрифтов*/
    text-rendering:optimizeLegibility;
 }
 body {
    color: #C0C0C0;
    font-family: Arial, san-serif;
    margin: 0;
    padding: 0;
    background: rgb(10, 10, 10);
    width: 100vw;
    height: 100vh;
 }


 .mid_contact {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 /* -----------------Default visible contacts----------------- */
 .contacts {
     padding: 30px 10px;
     color: rgb(255, 255, 255);
     letter-spacing: 1.5px;
     margin: 0 auto;
 }
 
 .contacts ul {
     list-style: none;
     padding: 0;
 }

 .contacts ul li {
    margin-left: 30px;
     margin: 20px auto;
     height: 32px;
     line-height: 32px;
     text-align: center;
 }

 li:nth-of-type(1) {
    background: url('./icons/world_earth.png') no-repeat left center;
    padding-left: 45px;
 }

 li:nth-of-type(2) {
    background: url('./icons/linkedin.png') no-repeat left center;
    padding-left: 45px;
}

 li:nth-of-type(3) {
    background: url('./icons/skype.png') no-repeat left center;
    padding-left: 45px;
}

li:nth-of-type(4) {
    background: url('./icons/telegram.png') no-repeat left center;
    padding-left: 45px;
} 

li:nth-of-type(5) {
    background: url('./icons/phone.png') no-repeat left center;
    padding-left: 45px;
}

li:nth-of-type(6) {
    background: url('./icons/email.png') no-repeat left center;
    padding-left: 45px;
}


 .contacts ul li a {
     text-decoration: none;
     color: rgb(255, 255, 255);
 }

 .contacts button {
     margin-top: 10px;
     border: none;
     border-radius: 5px;
     width: 100%;
     height: 45px;
     color: rgb(190, 189, 189);
     text-transform: uppercase;
     text-align: center;
     text-shadow: 1px 1px 3px rgb(44, 44, 44), 0px 0px 8px rgb(255, 237, 237);
     background: rgb(156, 0, 0);
     cursor: pointer;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
}

 .contacts button:hover {
    background: rgb(248, 6, 6);
    color: rgb(255, 255, 255);
    box-shadow: 0 0  20px 0px rgb(255, 255, 255);
    transition:background, color, box-shadow 0.3s ease-in-out;
    -webkit-transition:background, color, box-shadow 0.3s ease-in-out;
    -ms-transition:background, color, box-shadow 0.3s ease-in-out;
    -o-transition:background, color, box-shadow 0.3s ease-in-out;
    -moz-transition:background, color, box-shadow 0.3s ease-in-out;
}



 /* ------------------hiden form contact----------------------- */
 
 /* Contact Form Styles */


 legend {
     margin-bottom: 10px;
 }

 h1 {
    margin: 10px 0 0 0;
 }
 h4{
    margin: 0 0 20px 0;
 }
 .form_contact {
    background-color:rgba(72, 72, 72, 0.472);
    padding: 10px 20px 30px 20px;
    max-width:100%;
    border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    display: none;
 }

 .form_contact input,   
 .form_contact select,   
 .form_contact textarea,   
 .form_contact label { 
    font-size: 15px;  
    margin-bottom: 2px;
    font-family: Arial, san-serif;
 } 

 .form_contact input,   
 .form_contact select,   
 .form_contact textarea { 
    width:100%;
    background: #fff;
    border: 0; 
    -moz-border-radius: 4px;  
    -webkit-border-radius: 4px;  
    border-radius: 4px;
    margin-bottom: 25px;  
    padding: 5px;  
 } 

 .form_contact input:focus,   
 .form_contact select:focus,   
 .form_contact textarea:focus {  
    background-color: #E5E6E7; 
 }  

 .form_contact textarea {
    width:100%;
    height: 150px;
 }

 .form_contact button[type="submit"] {
    cursor:pointer;
    width:100%;
    border:none;
    background:rgb(156, 0, 0);
    color:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius:5px;
 }

 .form_contact button[type="submit"]:nth-of-type(1) {
     margin-bottom: 20px;
 }

 .form_contact button[type="submit"]:hover {
    background: rgb(248, 6, 6);
    transition:background-color 0.3s ease-in-out;
    -webkit-transition:background-color 0.3s ease-in-out;
    -ms-transition:background-color 0.3s ease-in-out;
    -o-transition:background-color 0.3s ease-in-out;
}

 .form_contact button[type="submit"]:active {
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
 }

 input:required, textarea:required {  
    box-shadow: none;
    -moz-box-shadow: none;  
    -webkit-box-shadow: none;  
    -o-box-shadow: none;  
 } 

 .form_contact .required {  
    font-weight:bold;  
    color: #E5E6E7;      
 }

 
 /* Hide success/failure message
    (especially since the php is missing) */

 
 /* Make form look nice on smaller screens */
 /* @media only screen and (max-width: 580px) {
    .mid_contact{
       left: 3%;
       margin-right: 3%;
       width: 88%;
       margin-left: 0;
       padding-left: 3%;
       padding-right: 3%;
    }
 } */