* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #333;
  font-family: sans-serif;
  font-weight: bold;
}

.button {
  position: relative;
  color: #2196f3;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  letter-spacing: 4px;
  padding: 14px 30px;
  overflow: hidden;
}

.button__line {
  position: absolute;
  display: block;
}

.button__line--top {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}

.button:hover .button__line--top {
  left: 100%;
  transition: 2s;
  transition-delay: .3s;
} 


.button__line--bottom {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}

.button:hover .button__line--bottom {
  right: 100%;
  transition: 2s;
  transition-delay: .3s;
}

.button__line--left {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(0deg, transparent, #2196f3);
}

.button:hover .button__line--left {
  bottom: 100%;
  transition: 2s;
  transition-delay: .85s;
}

.button__line--right {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}

.button:hover .button__line--right {
  top: 100%;
  transition: 2s;
  transition-delay: .85s;
}


.button:hover {
  box-shadow: 0 0 10px #2196f3, 0 0 30px #2196f3;
  transition: 2s;
  transition-delay: 1.2s;
}
