* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.home::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    animation: mask 10s forwards;
    -webkit-animation: mask 10s forwards;
}

@keyframes mask {
    100% {
        background: rgba(0, 0, 0, 0.35); 
    }
}

.home img {
    animation: img_rigt 8s forwards;
    -webkit-animation: img_rigt 8s forwards;
    transform-origin: right top;
}

@keyframes img_rigt {
    100% {
        transform: scale(1.7);
        -webkit-transform: scale(1.7);
        -moz-transform: scale(1.7);
        -ms-transform: scale(1.7);
        -o-transform: scale(1.7);
}
}