body {
    background: rgb(180, 7, 7);
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
    background: rgb(250, 241, 241, .8);
}

.menu_link {
    display: block;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 1px 1px 10px rgb(12, 12, 12, .4);
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9;
}

span, span:before, span:after{
    display: block;
    height: 2px;
    width: 18px;
    background: #333;
    position: absolute;
    left: 50%;
    margin-left: -9px;
    top: 50%;
    margin-top: -1px;
}

span:before {
    content: '';
    margin-top: -6px;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

span:after {
    content: '';
    margin-top: 4px;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.menu_link_active span {
    background: transparent;
}

.menu_link_active span:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    margin-top: 0;
}

.menu_link_active span:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    margin-top: 0;
}

.wrapMenu {
    background: rgb(160, 4, 160, .7);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -100vw;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.wrapMenu_active {
    left: 0;
}

.menuUl {
    list-style: none;
    padding: 0;
    text-align: center;
}

.menuUl li {
    width: 100vw;
}

.menuUl  a {
    display: block;
    color: whitesmoke;
    width: 100%;
    line-height: 4;
    font-weight: 100;
    letter-spacing: 5px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .2s;
}

.menuUl a:hover {
    text-decoration: none;
    display: block;
    background: rgb(246, 244, 244, .4);
    color: rgb(248, 196, 248);
    width: 100vw;
    font-weight: bold;
    text-transform: uppercase;
}

section {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    height: 100vh;
}

h2 {
    text-align: center;
}

hr {
    width: 100%;
    background:rgb(2, 250, 113);
    height: 2px;
}