* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skil_tool_container {
    width: 100%;
    height: 80vh;
    background: rgb(31, 30, 30);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 10px;
}

.skilss, .tools {
    height: 30px;
    width: 100%;
    z-index: 1;
}

.skilss {
    margin-bottom: 20px;
}

.skilsTitle, .toolsTitle {
    height: 100%;
    width: 150px;
    line-height: 30px;
    text-align: center;
    z-index: 3;
    background: linear-gradient(90deg,rgba(110, 2, 2), rgb(246, 4, 4));
}

h5 {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.progress_bar {
    height: 100%;
    width: 100%;
    z-index: 2;
    animation-name: progress;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: 1;
}

.bar_100 {
    background: rgb(246, 4, 4);
}

@keyframes progress {
    0% {
        width: 0%;
        background: rgb(246, 4, 4);
    }

    100% {
        width: 100%;
        background: rgb(246, 4, 4);
    }
}

.skilsBox, .toolsBox {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: nowrap;
    padding-left: 150px;
}

.toolsBox {
    align-items: flex-start;
}

.itemSkil, .itemTool {
    width: 30px;
    /* height: 100%; */
    margin-left: 14%;
    line-height: 26px;
    text-align: center;
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* padding: 10px 0; */
    background: linear-gradient(0deg, rgb(246, 4, 4), rgba(87, 1, 1, 0.815));
    animation-name:  SkilTol;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 12s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.itemTool {
    align-items: flex-start;
    background: linear-gradient(0deg,rgba(87, 1, 1, 0.815), rgb(246, 4, 4));
}

.itemSkil:nth-of-type(1), .itemTool:nth-of-type(1){
    margin-left: 0;
}

@keyframes SkilTol {
    0% {
        padding: 0px 0px;
        height: 0%;
    }

    100% {
        padding: 0px 0px;
        height: 100%;
    }
}

h6 {
    writing-mode: tb-rl;
    letter-spacing: 1px;
    font-size: 15px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    font-weight: bold;
    color: rgb(255, 255, 255);
    display: none;
}

.branchBox {
    width: 100%;
    height: 100px;
    padding-left: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: nowrap;
}

.branchBox_bottom {
    align-items: flex-start;
}

.branch {
    width: 30px;
    height: 0%;
    background: rgb(246, 4, 4);
    margin-left: 14%;
    animation-name: Branch;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 9s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.branch:nth-of-type(1), .branch:nth-of-type(7) {
    margin-left: 0;
}

@keyframes Branch {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}

