* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(30, 45, 250);
}

.main_cube {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.wrapper {
  perspective: 800px;
}

.cube {
  width: 460px;
  height: 460px;
  background: #ccc;
  position: relative;
  transform-origin: 50% 50% -230px;
  transform-style: preserve-3d;
/*transform: rotate3d(1,1,1,50deg);*/
  animation-name: spinKubick;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
}


/*приостановит анимацию при наведегнии мыши*/

/*
.cube:hover {
  animation-play-state: paused;  
  cursor: pointer;
} 
*/


.side {
  width: 460px;
  height: 460px;
  background: rgb(62, 63, 63);
  border: 6px solid rgba(255, 255, 255, 0.8);
  position: absolute;
  font-size: 50px;
  text-align: center;
  color: blue;
  line-height: 300px;
  transform-origin: 50% 50% -230px;
  animation-name: borderAnimation;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

/*
.side:hover {
  animation-play-state: paused;  
  cursor: pointer;
}
*/

.side_1 {
  transform: rotateZ(180deg);
}

.side_2 {
  transform: rotateY(90deg);
}

.side_3 {
  transform: rotateY(-90deg);
}

.side_4 {
  transform: rotateX(90deg);
}

.side_5 {
  transform: rotateX(-90deg);
}

.side_6 {
  transform: rotateY(-180deg);
}


@keyframes spinKubick {
  0% {
    transform: rotate3d(1,1,1,45deg);
    -webkit-transform: rotate3d(1,1,1,45deg);
    -moz-transform: rotate3d(1,1,1,45deg);
    -ms-transform: rotate3d(1,1,1,45deg);
    -o-transform: rotate3d(1,1,1,45deg);
}

  50% {
    transform: rotate3d(4,4,4,360deg);
    -webkit-transform: rotate3d(4,4,4,360deg);
    -moz-transform: rotate3d(4,4,4,360deg);
    -ms-transform: rotate3d(4,4,4,360deg);
    -o-transform: rotate3d(4,4,4,360deg);
} 
  100% {
    transform: rotate3d(1, 1, 1, 45deg);
    -webkit-transform: rotate3d(1, 1, 1, 45deg);
    -moz-transform: rotate3d(1, 1, 1, 45deg);
    -ms-transform: rotate3d(1, 1, 1, 45deg);
    -o-transform: rotate3d(1, 1, 1, 45deg);
}
} 

@keyframes borderAnimation {
  0% {
    border: 6px solid rgba(255, 255, 255, 0.8);
    /* transform-origin: 50% 50% 0px; */
  }
  /* 5% {
    border: 6px solid rgb(251, 251, 251);
  }
  10% {
    border: 6px solid rgb(122, 2, 2);
  }
  25% {
    border: 6px solid rgb(190, 2, 2);
  } */
  50% {
    border: 6px solid rgb(251, 1, 1);
  }
  /* 75% {
    border: 6px solid rgb(190, 2, 2);
  }
  85% {
    border: 6px solid rgb(122, 2, 2);
  }
  95% {
    border: 6px solid rgb(251, 251, 251);
  } */
  100% {
    border: 6px solid rgba(255, 255, 255, 0.8);
    /* transform-origin: 50% 50% -230px; */
  }
}
