* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 800px;
    background: black;
}

article {
    position: relative;
    width: 300px;
    height: 200px;
    transform-style: preserve-3d;
    animation: anim 22s linear infinite;
    -webkit-animation: anim 22s linear infinite;
}

article span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--stroke)*45deg)) translateZ(400px);
    -webkit-transform: rotateY(calc(var(--stroke)*45deg)) translateZ(400px);
    -moz-transform: rotateY(calc(var(--stroke)*45deg)) translateZ(400px);
    -ms-transform: rotateY(calc(var(--stroke)*45deg)) translateZ(400px);
    -o-transform: rotateY(calc(var(--stroke)*45deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0003);
}

article span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: opacit 20s linear infinite;
    /* -webkit-animation: opacit 20s linear infinite; */
}

@keyframes anim {
    0% {
        transform: perspective(1000px) rotateY(0deg);
        -webkit-transform: perspective(1000px) rotateY(0deg);
        -moz-transform: perspective(1000px) rotateY(0deg);
        -ms-transform: perspective(1000px) rotateY(0deg);
        -o-transform: perspective(1000px) rotateY(0deg);
}
    100% {
        transform: perspective(1000px) rotateY(360deg);
        -webkit-transform: perspective(1000px) rotateY(360deg);
        -moz-transform: perspective(1000px) rotateY(360deg);
        -ms-transform: perspective(1000px) rotateY(360deg);
        -o-transform: perspective(1000px) rotateY(360deg);
}
}

/* @keyframes opacit {
    0% {
        opacity: 0.0;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.5;
    }
    40% {
        opacity: 0.9;
    }
    50% {
        opacity: 1.0;
    }
    60% {
        opacity: 0.9;
    }
    70% {
        opacity: 0.5;
    }
    80% {
        opacity: 0.3;
    }
    90% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.0;
    }
} */